/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  all: unset;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

.btn-primary {
  transition: 0.2s ease-in-out all;
  display: block;
  width: fit-content;
  padding: 0.75rem 1.25rem;
  background-color: hsl(12, 88%, 59%);
  border-radius: 100vw;
  color: hsl(0, 0%, 98%);
}
.btn-primary:hover {
  opacity: 0.9;
  box-shadow: 0 0 0.95rem hsl(12, 88%, 59%);
}

.primary-paragraph {
  color: hsl(227, 12%, 61%);
  font-size: 1.1rem;
}

.primary-title {
  color: hsl(228, 39%, 23%);
}

.flow > * + * {
  margin-top: var(--spacer, 4rem);
}

.primary-header {
  padding-inline: 1rem;
  max-width: 75em;
  margin-inline: auto;
  padding-block: 1.5rem;
}
.primary-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.primary-header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 55vw;
  max-width: 40rem;
}
.primary-header__list a {
  transition: 0.2s ease-in-out opacity;
  color: hsl(228, 39%, 23%);
}
.primary-header__list a:hover {
  opacity: 0.65;
}
.primary-header__ham {
  display: none;
}
@media screen and (max-width: 55em) {
  .primary-header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: 0.2s ease-in-out all;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    padding: 1rem;
    background-color: hsl(0, 0%, 98%);
    opacity: 0;
  }
  .primary-header__list li {
    padding-block: 0.5rem;
  }
  .primary-header .btn-primary {
    display: none;
  }
  .primary-header__ham {
    display: block;
    width: 2rem;
    aspect-ratio: 1.3;
    background-image: url("../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  .primary-header.active .primary-header__list {
    transform: translateX(-50%) scale(1);
    z-index: 500;
    opacity: 1;
    box-shadow: 0 0 0 10000vw hsla(233, 12%, 13%, 0.5);
  }
  .primary-header.active .primary-header__ham {
    background-image: url("../images/icon-close.svg");
  }
}

main {
  padding-inline: 1rem;
  max-width: 75em;
  margin-inline: auto;
  text-align: center;
}
main > * {
  margin-inline: auto;
}
main .statistics img {
  margin-inline: auto;
}
main .info {
  margin-top: 0;
}
main .info .primary-title {
  font-size: 2rem;
}
main .btn-primary {
  margin: 2rem auto;
}
main .list {
  text-align: left;
  counter-reset: count;
}
main .list li {
  counter-increment: count;
}
main .list .primary-title {
  min-height: 2.3rem;
  margin-bottom: 0.5rem;
  line-height: 2.3rem;
  font-size: clamp(1rem, 2vw, 1.1rem);
  background-color: hsl(13, 100%, 96%);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 1rem 0 0 0 hsl(13, 100%, 96%);
}
main .list .primary-title::before {
  content: "0" counter(count);
  display: inline-block;
  height: 100%;
  padding-inline: 1.25rem;
  margin-right: 0.4rem;
  color: hsl(0, 0%, 98%);
  background-color: hsl(12, 88%, 59%);
  border-radius: 100vw;
}
@media screen and (min-width: 55em) {
  main {
    display: grid;
    grid-template-areas: "i s" "a l";
    gap: 4rem;
    margin-top: 3rem;
    text-align: left;
  }
  main .primary-paragraph {
    max-width: 25rem;
  }
  main .btn-primary {
    margin-inline: 0;
  }
  main .statistics {
    grid-area: s;
  }
  main .info .primary-title {
    font-size: 3rem;
  }
  main .about .primary-title {
    font-size: 2rem;
  }
  main .info .primary-title,
  main .about .primary-title {
    max-width: 30rem;
  }
  main .list .primary-title {
    background-color: transparent;
    box-shadow: none;
  }
  main .list .primary-paragraph {
    margin-left: 4.3rem;
  }
}

.carousel {
  margin-top: 4rem;
  text-align: center;
}
.carousel .card-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 25rem;
  width: 100vw;
}
.carousel .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transition: 1s ease-in-out left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 20rem;
  width: 80vw;
  max-width: 30rem;
  height: 15rem;
  padding-inline: 2rem;
  text-align: center;
  background-color: hsl(0, 0%, 98%);
}
.carousel .card[data-order="1"] {
  left: -150%;
}
.carousel .card[data-order="2"] {
  left: -50%;
}
.carousel .card[data-order="3"] {
  left: 50%;
}
.carousel .card[data-order="4"] {
  left: 150%;
}
.carousel .card__img {
  width: 5rem;
  transform: translateY(-2.5rem);
}
.carousel .card__name {
  transform: translateY(-1.25rem);
}
.carousel .card__quote {
  transform: translateY(-1.25rem);
}
@media screen and (min-width: 65em) {
  .carousel .card[data-order="1"] {
    left: -50%;
  }
  .carousel .card[data-order="2"] {
    left: 0%;
  }
  .carousel .card[data-order="3"] {
    left: 50%;
  }
  .carousel .card[data-order="4"] {
    left: 100%;
  }
  .carousel .card[data-order="5"] {
    left: 150%;
  }
}

.bg-svg {
  padding-inline: 1rem;
  max-width: 75em;
  margin-inline: auto;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  width: 100vw;
}
.bg-svg img {
  position: absolute;
  width: 100%;
  max-width: 45rem;
}
.bg-svg img:first-child {
  right: 0;
  transform: translate(25%, -10%);
}
.bg-svg img:last-child {
  left: 0;
  transform: translate(-42%, 95%);
}/*# sourceMappingURL=styles.css.map */