@use "../globals" as *;

main {
  @include wrapper();
  text-align: center;

  .statistics {
    img {
      margin-inline: auto;
    }
  }

  .info {
    margin-top: 0;

    .primary-title {
      font-size: 2rem;
    }
  }

  .btn-primary {
    margin: 2rem auto;
  }

  .list {
    text-align: left;

    counter-reset: count;

    li {
      counter-increment: count;
    }

    .primary-title {
      $box-height: 2.3rem;
      $border-radius: 1rem;

      min-height: $box-height;
      margin-bottom: 0.5rem;
      line-height: $box-height;
      font-size: clamp(1rem, 2vw, 1.1rem);
      background-color: $clr-neutral-900;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      box-shadow: 1rem 0 0 0 $clr-neutral-900;

      &::before {
        content: "0" counter(count);
        display: inline-block;
        height: 100%;
        padding-inline: 1.25rem;
        margin-right: 0.4rem;
        color: $clr-neutral-999;
        background-color: $clr-primary-light;
        border-radius: 100vw;
      }
    }
  }

  @include breakpoint-up(small) {
    display: grid;
    grid-template-areas: "i s" "a l";
    gap: 4rem;
    margin-top: 3rem;
    text-align: left;

    .primary-paragraph {
      max-width: 25rem;
    }

    .btn-primary {
      margin-inline: 0;
    }

    .statistics {
      grid-area: s;
    }

    .info {
      .primary-title {
        font-size: 3rem;
      }
    }

    .about {
      .primary-title {
        font-size: 2rem;
      }
    }

    .info,
    .about {
      .primary-title {
        max-width: 30rem;
      }
    }

    .list {
      .primary-title {
        background-color: transparent;
        box-shadow: none;
      }

      .primary-paragraph {
        margin-left: 4.3rem;
      }
    }
  }
}
