// COLORS
$clr-primary-light: hsl(12, 88%, 59%);
$clr-primary-dark: hsl(228, 39%, 23%);

$clr-neutral-100: hsl(233, 12%, 13%);
$clr-neutral-600: hsl(227, 12%, 61%);
$clr-neutral-900: hsl(13, 100%, 96%);
$clr-neutral-999: hsl(0, 0%, 98%);

$clr-neutral-100-transparent: hsl(233, 12%, 13%, 0.5);
